.navstl {
  border-bottom: solid 3px #000;
}

.voltar,
.usuario {
  color: red !important;
  font-weight: bolder !important;
}

.nav-link,
.nav-link a,
.navbar-light .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link {
  color: #000;
}

.red {
  color: red;
}

.green {
  color: green;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
  color: #005F6A;
}

.header-container {
  display: flex;
  align-items: center;
  width: auto;
}

.control-item {
  width: auto;
  display: flex;
  height: auto;
  align-content: center;
  padding: 0 1.25rem;
  font-size: 0.8rem;
  line-height: 1rem;
  border-left: 1px solid #000;
}

.infotext {
  margin-left: 0.5rem;
}

.material-icons {
  font-size: 0.975rem;
}

h2 {
  margin: 0px !important;
}

a.dropdown-toggle {
  color: #000;
  font-weight: 800;
  letter-spacing: 1px;
}

.dropdown {
  margin-right: 25px;
  cursor: pointer;
}

.dropdown-menu {
  padding: 8px;
  width: auto;
  white-space: nowrap;
  max-width: 300px;
  min-width: 100px;
}

#dropDownMenuUsuario .mat-icon, #dropDownMenuUsuario {
  font-size: 1.5rem;
}

#ddUsuario li {
  padding: 10px;
  text-align: center;
}
